.card {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  border: 2px solid #4baa4b;
  border-radius: 15px;
  transition: all .5s;
}

.card:hover {
  transform: scale(1.1);
}

.card__image {
  margin-bottom: 10px;
}

.card__email {
  margin-top: 5px;
}
